body {
    font-family:Verdana sans-serif;
    margin:10px 10%;
    width:80%;
    background-color:#008c1e;
    display:inline-block;
}

#container {
    background-color:#f4f4f4;
    min-height:400px;
    padding:1px 15px 10px 20px;
    border-radius:20px;
}

