body {
    font-family:Verdana sans-serif;
    margin:10px 10%;
    width:80%;
    background-color:#008c1e;
    display:inline-block;
}

input {
    margin-top:30px;
	width: 376px;
	border-radius: 25px;
}

#container {
    background-color:#f4f4f4;
    min-height:400px;
    padding:1px 15px 20px 20px;
    border-radius:20px;
    overflow:auto;
}

.horizontal_div {
	float: left;
	height:auto;
	width: 45%;
	min-width:375px;
}

.horizontal_div + .horizontal_div {
    margin-left:50px;
}

#input_text_area {
	border-radius: 25px;
	padding: 6px;
}


